body{
    background: #ececed url("../images/bg.png") repeat scroll 0 0;
    color: #333;
    font-family: "UTM Avo", arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}
.wrapper{
    margin: 0 auto;
    width: 1220px;
}
.mrpro{
    font-family: "Myriad Pro", "UTM Avo", arial, sans-serif;
}
a, a:hover, a:focus, a:active{
    outline: none;
    text-decoration: none;
}
img{
    max-width: 100%;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, li{
    line-height: 1.4;
}
#page{
    overflow-x: hidden;
}
/* ------- Header ------- */
#header {
    border-top: 20px solid #ccc;
    padding: 16px 0 10px;
}
#site-name {
    float: left;
    margin: 0;
    padding-right: 15px;
}
#logo {
    background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll center center;
    display: block;
    font-size: 30px;
    height: 70px;
    text-indent: -999em;
    width: 74px;
}

#logo.logo-tet {
    background: rgba(0, 0, 0, 0) url("/public/home/img/logo-tet.png") no-repeat scroll center center;
    background-size: 74px 70px;
}

#menu {
    float: right;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#menu > li {
    float: left;
    list-style: outside none none;
    margin: 0 5px;
}
#menu > li > a {
    background: rgba(0, 0, 0, 0) url("../images/mgray.png") no-repeat scroll center center;
    color: #5f5f5f;
    display: table-cell;
    height: 71px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    width: 74px;
}
#menu > li > a:hover, #menu > li > a.active{
    background: rgba(0, 0, 0, 0) url("../images/mblue.png") no-repeat scroll center center;
    color: #FFF;
}

/* ------ Main ------ */
.mbc-left {
    float: left;
    font-size: 24px;
    padding: 45px 35px;
    text-align: center;
    width: 680px;
}
.mbc-left > p {
    margin-bottom: 30px;
}
.mbc-right {
    float: right;
    margin-bottom: 20px;
}
.help-gallery {
    background: rgba(0, 0, 0, 0) url("../images/logo2.png") no-repeat scroll center center;
    height: 345px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 530px;
}
.help-gallery > li {
    list-style: outside none none;
    position: absolute;
    width: 192px;
    
     -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.help-gallery > li:nth-child(1) {
    left: 50%;
    margin-left: -175px;
    z-index: 5;
    
    -moz-transform: scale(1) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(2) {
    margin-right: -195px;
    right: 50%;
    z-index: 3;
    top: 3px;
    
    -moz-transform: scale(1) rotate(16.85deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(-16.85deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(16.85deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(16.85deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(16.85deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(3) {
    margin-top: -35px;
    right: 15px;
    top: 50%;
    z-index: 0;
    
    -moz-transform: scale(1) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(4) {
    bottom: 5px;
    left: 50%;
    margin-left: -100px;
    z-index: 2;
    
    -moz-transform: scale(1) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(5) {
    margin-top: -55px;
    top: 50%;
    z-index: 1;
    
    -moz-transform: scale(1) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(1):hover {
    -moz-transform: scale(1.2) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1.2) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1.2) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1.2) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1.2) rotate(-16.78deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(2):hover {
    -moz-transform: scale(1.2) rotate(16.85deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1.2) rotate(-16.85deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1.2) rotate(16.85deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1.2) rotate(16.85deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1.2) rotate(16.85deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(3):hover {
    -moz-transform: scale(1.2) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1.2) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1.2) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1.2) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1.2) rotate(-14.65deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(4):hover {
    -moz-transform: scale(1.2) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1.2) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1.2) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1.2) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1.2) rotate(4.48deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:nth-child(5):hover {
    -moz-transform: scale(1.2) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1.2) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1.2) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1.2) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1.2) rotate(24.78deg) translate(0px, 0px) skew(0deg, 0deg);
}
.help-gallery > li:hover{
    z-index: 9;
}
.help-gallery > li > span {
    border: 6px solid #fff;
    display: block;
    height: 110px;
    overflow: hidden;
    -webkit-box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow:    1px 3px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow:         1px 3px 7px 0px rgba(0, 0, 0, 0.35);
}

.mb-title {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    box-shadow: 0 0 20px #ccc;
    font-size: 31.67px;
    margin: 55px -300% 65px 40px;
    padding: 8px 300% 8px 100px;
    position: relative;
}
.mb-title2::after {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    content: "";
    display: block;
    height: 100%;
    left: 100%;
    position: absolute;
    top: -2px;
    width: 1000%;
}
.mbt-content {
    color: #f57900;
    display: block;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-family: 'UTM Avo Bold', arial, helvetica,san-serif;
}

.mbt-content span {
    display: block;
    text-align: center;
    width: 100%;
}

.mbt-content .mbt-content-1 {
    position: relative;
    top: 0;
    -webkit-transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    -moz-transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    -ms-transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    -o-transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
    -moz-transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
    -ms-transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
    -o-transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
    transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
}

.mbt-content:hover .mbt-content-1 {
    top: -150px;
}

.mbt-content:hover .mbt-content-2 {
    top: 0px;
}

.mbt-content .mbt-content-2 {
    position: absolute;
    top: 150px;
    -webkit-transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    -moz-transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    -ms-transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    -o-transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    transition: all 500ms cubic-bezier(0.455,0.030,0.515,0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
    -moz-transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
    -ms-transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
    -o-transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
    transition-timing-function: cubic-bezier(0.455,0.030,0.515,0.955);
}

.mb-blue .mbt-content{
    color: #0072bc;
}
.mbt-icon {
    background: rgba(0, 0, 0, 0) url("../images/mb-title-blue.png") no-repeat scroll center center;
    color: #fff;
    display: block;
    font-size: 11.21px;
    height: 141px;
    left: -50px;
    margin-top: -71px;
    padding: 35px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 136px;
}
.mb-blue .mbt-icon{
    background-image: url("../images/mb-title-orange.png");
}
.mbt-icon > span {
    display: table-cell;
    height: 71px;
    vertical-align: middle;
}
.about-images {
    list-style: outside none none;
    margin: 0;
    padding: 0 10px;
}
.about-images > li {
    float: right;
    list-style: outside none none;
    margin: 0 20px 20px 0;
}
.about-images > li > a{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: block;
    padding: 2px;
    position: relative;
}
.about-images > li > a:after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition-duration: 0.3s;
}
.about-images > li > a:before {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition-duration: 0.3s;
}
.about-images > li > a:hover:after{
    background: transparent;
}
.about-images > li > a:hover:before{
    background: transparent;
}

/*.about-images > li > a:hover .ai-des {
    color: #f57900;
}*/

.about-image-text {
    border: 1px solid;
    display: block;
    font-size: 26px;
    height: 62px;
    padding: 10px 16px;
    text-transform: uppercase;
}
.ai-des {
    border: 1px solid;
    color: #fff;
    display: block;
    font-size: 30px;
    left: 50%;
    margin-left: -150px;
    margin-top: -50px;
    padding: 20px 35px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    z-index: 3;
}

.md-content-slide {
    width: 50%;
    padding: 0 20px;
    float: left;
    text-align: center;
    padding-bottom: 30px;
}

.md-content-slide ul {
    padding: 0;
    list-style: none;
    margin: auto;

}

.md-flipster-img {
    width: 346px;
    height: 346px;
    border: 8px solid white;
    box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.35);
    margin: 10px 0;
}

.md-flipster-img img {
    width: 100%;
    height: 100%;
}

.md-content-sub {
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    margin-top: 20px;
}

#footer {
    background-color: #0072bc;
    box-shadow: -1px 8px 8px -5px rgba(0, 0, 0, 0.35) inset;
    font-family: Roboto,arial,Tahoma,sans-serif;
    line-height: 1.25;
}

#footer ul {
    padding: 0;
    list-style: none;
}

.footer {
    color: #fff;
    position: relative;
    padding-top: 5px;
}

.footer a{
    color: #fff;
}

.footer-block-list {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    list-style: outside none none;
    padding: 0 0 5px;
}

.footer-block-title {
    font-size: 30px;
    font-weight: bold;
}

.footer-menu {
    padding-bottom: 25px;
}

.footer-menu-content {
    display: inline-block;
    margin: 0;
}

.footer-menu-content li {
    margin-top: 15px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.sub-footer-menu {
    max-width: 150px
}

.sub-footer-menu li a {
    color: #363636;
    margin-left: 25px
}

.footer-menu-1 {
    float: left
}

.footer-menu-2 .menu-content-one {
    float: left;
    margin-left: 0
}

.footer-page-info {
    color: white;
    font-family: "Roboto Condensed";
    font-size: 12px;
    padding: 14px 0;
    border-top: 1px solid white;
}

.social-link {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    position: relative;
}

.footer-block-list li > div {
    clear: both;
    width: 100%;
}

.hotline-number {
    color: white;
    margin: 0;
    font-weight: bold;
}
.hotline-number li {
    font-size: 20px;
    margin-top: 15px
}
.hotline-number li span {
    min-width: 220px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.footer-block-list.social-list {
    margin: 0;
}

.social {
    text-align: center;
}

.social li {
    display: inline-block;
    margin: 8px;
    text-align: center;
}

.social li a {
    display: block;
}

ul.social {
    margin-top: 70px;
}

ul.apps {
    margin-top: 40px;
    text-align: center;
}

ul.apps li {
    display: inline-block;
    margin: 0 10px;
}

/*------they talk-----*/
.list-items {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.list-title {
    margin: 30px 0;
    padding-left: 15px;
}

.list-title img {
    vertical-align: bottom;
}


.list-title span {
    line-height: 1.5;
    border-bottom: 2px solid #0072bc;
    font-family: 'UTM Avo Bold', arial, helvetica, sans-serif;
    font-size: 24px;
    color: #0072bc;
    vertical-align: bottom;
    margin-left: 10px;
}

.wall-column {
    display: block;
    position: relative;
    width: 33.333333%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

.list-items .item {
    padding-bottom: 20px;
    font-family: "Roboto", helvetica, sans-serif;
    position: relative;
}

.list-items .item a {
    display: block;
    background-color: white;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 3px 7px 0px rgba(136, 136, 136, 0.35);
    padding: 20px;
    color: #787878;
    text-transform: uppercase;
}

.list-items .item a:hover {
    color: #787878;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(136,136,136,0.7);
    -moz-box-shadow: 0px 5px 12px 0px rgba(136,136,136,0.7);
    box-shadow: 0px 5px 12px 0px rgba(136,136,136,0.7);
}

.list-items .item a:active, .list-items .item a:visited {
    color: #787878;
}

.list-items .item .item-img {
    width: 100%;
    position: relative;
}

.list-items .item .item-img img {
    height: auto;
    width: 100%;
}

.list-items .item.item-video .item-img:before {
    position: absolute;
    background: rgba(0,0,0,.1) url("/public/pages/images/youtube-play-button.png") no-repeat scroll center center;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 1;
}

.list-items .item.item-link .item-img:before {
    position: absolute;
    background: rgba(0,0,0,0) no-repeat scroll center center;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.list-items .item.item-link a:hover .item-img:before {
    background: rgba(0,0,0,.4) url("/public/pages/images/lens.png") no-repeat scroll center center;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.list-items .item .item-title {
    margin: 20px 10px 10px;
    text-align: center;
}

.list-items .item .item-title h3 {
    line-height: 1.2;
    font-size: 24px;
    font-family: 'UTM Avo Bold', arial, san-serif;
}

.list-items .item .item-description {
    font-size: 12px;
    margin: 0 10px;
    font-family: "UTM Avo", arial, sans-serif;
    font-weight: bold;
    text-align: justify;
    text-transform: none;
}

.list-items .item .item-description p {
    margin: 0;
}

.activity-carousel {
    width: 1060px;
    display: block;
    margin: 0 auto 70px;
    box-shadow: 3px 4px 12px 0px rgba(145, 145, 145, 0.75);
    background-color: #ffffff;
    padding: 3px;
    border-radius: 3px;
    position: relative;
}

.activity-carousel .carousel-content {
    display: block;
    background-color: #ececed;
    padding: 40px;
    /*position: relative;*/
}

/*.carousel-content {
    height: 380px;
    overflow-y: hidden;
}*/

/*.carousel-content .item {
    position: relative;
}*/

.carousel-content .item-img {
    float: left;
    width: 50%;
}

.carousel-content .item-des {
    float: left;
    width: 50%;
}

.year {
    margin-bottom: 20px;
}

.year span {
    display: inline-block;
    width: 170px;
    margin: 0 20px;
    text-align: center;
    color: #ffffff;
    position: relative;
    background-color: #f57900;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    font-family: 'UTM Avo Bold', arial, helvetica,san-serif;
}

.year span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid #f57900;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.year span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-right: 20px solid #f57900;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}

.item-des .des {
    margin-bottom: 40px;
    margin-left: 15px;
}

.item-des .des p {
    margin-bottom: 5px;
}

.view-activities {
    position: absolute;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    width: 80px;
    background-color: #f28a00;
    color: #ffffff;
    left: 50%;
    bottom: 0;
    margin-left: 15px;
}

/* carousel fade effect*/
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-controls {
    position:  absolute;
    bottom: 43px;
    right: 43px;
}

.carousel-controls a {
    color: #282425;
    font-size: 30px;
    margin: 0 5px;
}

.carousel-controls a:hover {
    color: #f28a00;
}

body.activity {
    background: #eeeeee;
}

.cover {
    text-align: center;
    margin: 40px auto;
}

.activities-container {
    width: 1024px;
    margin: 0 auto 110px;
    padding-left: 45px;
}

.activity-carousel.activity-carousel_modified {
    width: 100%;
    margin: 0;
    border-left: 8px solid #f8941d;
    padding: 0;
    box-shadow: 2px 3px 3px 0px rgba(192, 192, 192, 0.75);
    border-radius: 0;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.activity-carousel.activity-carousel_modified .carousel-content {
    background-color: transparent;
}

.activity-carousel.activity-carousel_modified .carousel-content .item-img {
    padding-bottom: 50px;
}

.activities-yearly {
    position: relative;
}

.yearly {
    position: absolute;
    width: 110px;
    height: 110px;
    z-index: 100;
    text-align: center;
    padding: 20px 0;
    border-radius: 55px;
    background-color: #f8941d;
    box-shadow: 1px 2px 2px 0px rgba(192, 192, 192, 0.75);
    left: -50px;
    top: 80px;
    color: #ffffff;
    font-size: 26px;
    font-family: "UTM Avo Bold", arial, sans-serif;
}

.activity-carousel.activity-carousel_modified .item-des {
    padding: 0 20px;
}

.item-des .title {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.item-des .des {
    font-size: 16px;
}

.activity-carousel.activity-carousel_modified .carousel-indicators {
    left: 75%;
}

.activity-carousel.activity-carousel_modified .carousel-indicators li {
    background-color: #828282;
    border: 1px solid #828282;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: 0;
}

.activity-carousel.activity-carousel_modified .carousel-indicators .active {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
}

.activities-yearly:nth-child(even) .activity-carousel.activity-carousel_modified {
    border-color: #0072bc;
}

.activities-yearly:nth-child(even) .yearly {
    background-color: #0072bc;
}


/*-----------Footer-new-------------------*/
.col2 {
    float: left;
    width: 50%;
}
.col5{
    float: left;
    width: 20%;
}
.fix-col-2-footer{
    position: relative;
    margin-left: -35px;
}

#footer-new {
    background: #fff url("https://hocmai.vn/theme/new2/images/bg-footer.png") repeat-x scroll 0 0;
    color: #959595;
    margin-top: 40px;
    padding: 60px 0;
    position: relative;
    text-align: left;
    padding-bottom: 15px;
    border-top: 1px solid #d8d8d8;
}
.footer-block-title-new {
    font-family: "Roboto Condensed", Roboto;
    font-weight: normal;
    color: #5c5c5c;
    font-size: 16px;
    margin: 0 0 18px;
    position: relative;
}
#footer-new a{
    color: #959595;
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto Condensed", Roboto;
}
#footer-new a:hover{
    color: #6993c7;
}
#footer-new li{
    padding: 5px;
    line-height: 18px;
    font-weight: normal;
    font-family: "Roboto Condensed", Roboto;
}
.fb-icon-new {
    background: rgba(0, 0, 0, 0) url("../images/footer-fb.png") no-repeat scroll 0 7px;

}
.right-footer-first{
    width: 50%;
}
.right-footer-second{
    width: 50%;
}
.footer-block-list-new{
    font-size: 16px;
    font-weight: 500;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 5px;
}
.top-botton-footer-new{
    border-bottom: 1px solid #d8d8d8;
}
.footer-des-new{
    color: #666564;
    font-size: 11px;
    font-weight: normal;
    margin: 35px 0 10px;
}
.footer-image-app{
    padding-bottom: 6px;
    padding-top: 9px;
}
.footer-block{
    position: relative;
}
.click-plus{
    position: absolute;
    right: 0;
    top: 2px;
    display: none;
    z-index: 99999;
}
@media screen and (max-width: 480px) {
    .footer-image-app{
        padding-bottom: 6px;
        padding-top: 9px;
    }
}
/*-----------EndFooter-new--------*/